# These must be ignored because could contain data about the user system paths
ambiguities.json
entities.jsonl
graph_schema.json
ingestion_manifest.json
relations.jsonl
source_chunks.jsonl
unresolved_relations.json